<center>

    <h2>Enter Your Credentials</h2>
    <form asp-action="EmployeeSignIn">
        <label>Username:</label>
        <input type="text" placeholder="Enter Username" name="Username" required><br>
        <!--input type="text" name="UserName"-->
        <label>Password:</label>
        <input type="password" placeholder="Enter Password" name="Password" required><br>
        <!--input type="text" name="Password"-->
        <input type="submit" value="LogIn"><br>
    </form>
</center>

@{
}
