@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Life Shop</h1>
    <h3>"Your Own Piece of Online Space"</h3>
</div>
@{
    if(Convert.ToInt32(ViewData["LoggedIn"]) == 0)
    {
        <div class="text-center">
        <h5>Welcome Guest! Please <a asp-action = "LogOn">Sign In</a></h5>
        <h5>New User? <a asp-action="Register">Register</a></h5>
        </div>

    }
    else if (Convert.ToInt32(ViewData["LoggedIn"])== 1)
    {
        Customer currentUser = ViewBag.CurrentUser;
        <div>
        <h5>Welcome @currentUser.FirstName! What would you like to do today</h5>
        <p><a asp-action="ShoppingIndex">Browse for Products</a></p>
        </div>
    }
    else
    {
        <h3>There was an unknown error!</h3>
    }
}
