<Center>

    <h1>Disclaimer!</h1>

    <p>This is a prototye ecommerce site made for the fictitious company "LifeShop". It is entended to run through 
        the motions of ecommerce site and save to a local database. No orders or payments will actually be utilized.
        While no payments will be used, it is highly DISCOURAGE to enter actual payment information within the forms requesting 
        credit card Informaiton.
    </p>

    <h2>Data Collection</h2>
    <p>Many forms will require you to enter information to be able to procede through actions. This is intended to simulate data validation
        within the web application. Refraim from entering PII or sensitive information into the forms.
    </p>
</Center>

