@{
}

<h2>New User</h2>

<div class="text-center">
    <h2>Enter General Information</h2>
    <p class="error">@ViewData["NewCustomerMessage"]</p>
    <br />
</div>
<form  asp-controller="Home" asp-action="AddCustomer">
    <dl class="row">
        <dt class="col-sm-2">
            First Name
        </dt>
        <dd class="col-sm-10">
            <input name="addFirstName" />
        </dd>
    </dl>
    <dl class="row">
        <dt class="col-sm-2">
            Last Name
        </dt>
        <dd class="col-sm-10">
            <input name="addLastName" />
        </dd>
    @*</dl>
    <dl class="row">
        <dt class="col-sm-2">
            Date of Birth
        </dt>
        <dd class="col-sm-10">
            <input name="addDOB" type="date" value="2001-01-01" />
        </dd>
    </dl>*@
    <h2 class="text-center">Enter Contact Details</h2>
        <br/>
        <dl class="row">
        <dt class="col-sm-2">
            Address
        </dt>
        <dd class="col-sm-10">
            <input name="addAddress" />
        </dd>
    </dl>
        <br/>
        <dl class="row">
        <dt class="col-sm-2">
            City
        </dt>
        <dd class="col-sm-10">
            <input name="addCity" />
        </dd>
    </dl>
        <br/>
        <dl class="row">
        <dt class="col-sm-2">
            State
        </dt>
        <dd class="col-sm-10">
            <input name="addState" />
        </dd>
    </dl>
        <br/>
        <dl class="row">
        <dt class="col-sm-2">
            Zip
        </dt>
        <dd class="col-sm-10">
            <input name="addZip" />
        </dd>
    </dl>
    <br/>
        <dl class="row">
        <dt class="col-sm-2">
            Email
        </dt>
        <dd class="col-sm-10">
            <input name="addEmail" />
        </dd>
    </dl>
    <dl class="row">
        <dt class="col-sm-2">
            Phone
        </dt>
        <dd class="col-sm-10">
            <input name="addPhone" type="tel" />
        </dd>
    </dl>
    <h2 class="text-center">Enter Account Details</h2>
        <dl class="row">
        <dt class="col-sm-2">
            User Name
        </dt>
        <dd class="col-sm-10">
            <input name="addUserName"/>
        </dd>
    </dl>
    <dl class="row">
        <dt class="col-sm-2">
            Password
        </dt>
        <dd class="col-sm-10">
            <input name="addPassword" type="password"/>
        </dd>
    </dl>
    <input type="submit" />
    <button asp-action="Index">Cancel</button>
</Form>
